body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg,  #225760, #29365b, #361a4f);
    background-size: 400% 400%;
    animation: softBG 5s ease infinite;
    text-align: center;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
@keyframes softBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar {
    background-color: #577dde;
    width: 100%;
    padding: 15px 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo {
    color: white;
    text-align: center;
    margin: 0%;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center ;
}       
.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    flex: 1;
}
button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: #577dde;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}

button:hover {
    background-color: #09a5f0;
    transform: translateY(-3px);
}

.ti {
    color: #f6f2f3;

}
/* red color: #F93A43; */
.lat, .long {
    font-size: 22px;
    margin-top: 20px;
    color: #f7f3f4;
    font-weight: bold ;
    font-family: sans-serif;
    
}
/*color: #555;*/
.footer {
    margin-top: auto;
    font-size: 14px;
    color: #577dde;
    animation: fadecolor 3s infinite alternate;
}
@keyframes fadecolor {
   from {
        color: #577dde;
    }
    to {
        color: #f93a43;
    }
}


.status-box {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #577dde;
    font-size: 16px;
    border: none;

}

.loading {
    background-color: #f0ad4e;
    color: white;
}
.error {
    background-color: #d9534f;
    color: white;
}
.success {
    background-color: #5cb85c;
    color: white;   
}   
.copied {
    background-color: #5bc0de;
    color: white;
}   
.cleared {
    background-color: #f19b08;
    color: white;
}
