body {
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.navbar {
    background-color: #577dde;
    width: 100%;
    padding: 18px 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo {
    color: white;
    text-align: center;
    margin: 0%;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center ;
}       
.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    flex: 1;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #577dde;
    color: white;
    border: none;
    border-radius: 6px;
}

button:hover {
    background-color: #09a5f0;
}

.ti {
    color: #F93A43;

}
.lat, .long {
    font-size: 22px;
    margin-top: 20px;
    color: #F93A43;
    font-weight: bold ;
    font-family: sans-serif;
    
}
.footer {
    margin-top: auto;
    font-size: 14px;
    color: #555;
}


